        <footer class="footer">
          <p>© Von 2013. All right reserved.</p>
          <div class="socials-footer">
            <a class="btn btn-facebook" href="http://fb.com/tiagosamaha" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-google-plus" href="mailto:tiagosamaha@gmail.com" title="Google+">
              <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-instagram" href="http://instagram.com/tiagosamaha" title="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-github" href="http://github.com/tiagosamaha" title="GitHub">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-bitbucket" href="http://bitbucket.com/tiagosamaha" title="Bitbucket">
              <i class="fa fa-bitbucket"></i>
            </a>
          </div>
        </footer>

      </div>
    </div>

    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/custom.js"></script>

  </body>
</html>
